name: Deploy static site to Azure Storage

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Upload to Azure Blob Storage
        uses: azure/CLI@v1
        with:
          inlineScript: |
            az storage blob upload-batch -s site -d '$web' \
              --account-name ${{ secrets.AZURE_STORAGE_ACCOUNT }} \
              --overwrite
